<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Neerogilksample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">


    <link rel="icon" type="image/png" href="~/logoimages/1.png" />

    <link rel="stylesheet" type="text/css" href="~/css/loginstyle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/logindetails/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/logindetails/css/pharmacystyle.css">
    <!--===============================================================================================-->

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/bootstrap/js/popper.js"></script>
    <script src="~/logindetails/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/logindetails/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/logindetails/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
