<html>
<head>

   
    <link href="~/HomePageTheme/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="row p-5">     </div>
    <div class="row p-5">     </div>

    <center><h3>Register as </h3></center>
    <div class="row p-5">     </div>
    <div class="row">

        <div class="col-md-3 col-sm-12 col-xs-12">
            <center><a asp-controller="Account" asp-action="Register"><img style="width:200px;height:200px" src="~/logoimages/NewImages/1.png" /></a></center>
            <div> <center><h4>Customer</h4></center></div>

        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSd8aptsQvD1sBJrOUAyOA31gsqYyaPHM3-hd8FsgDj6h_GvpQ/viewform?usp=sf_link"><img style="width:200px;height:200px" src="~/logoimages/NewImages/2.png" /></a></center>
            <div> <center><h4>Doctor</h4></center></div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSf0MoGKuhzo1NLIENXUm0UAoBPY2y55PAPbEjMi7gR-lpKf_A/viewform?usp=sf_link"> <img style="width:200px;height:200px" src="~/logoimages/NewImages/3.png" /></a></center>
            <div> <center><h4>Pharmacy</h4></center></div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <center><a href="https://docs.google.com/forms/d/e/1FAIpQLSf42QuhMiRvLqH3xO0ATJLAOFOEkD8B0Oxb8zWr3vq7Dto5Iw/viewform?usp=sf_link"><img style="width:200px;height:200px" src="~/logoimages/NewImages/4.png" /></a></center>
            <div> <center><h4>Delivery Person</h4></center></div>
        </div>

    </div>
    <div class="row p-5">     </div>
    <div class="row p-5">     </div>

</body>
</html>