

@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <center>
        <h4>Welcome ! You can find your Confirmed Orders here.....</h4>
        @*<h6><i>Please enter your email ID correctly into the Field Below</i> </h6>*@
        <div class="col-md-4 col-xs-6 border-primary mb-3 " id="cardbackground">
            <div class="card-mb-3" style="max-width: 600px;">
                <div class="row g-0" id="cardbackgroundinner">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color: #7919ff">
                            <h6 style="color:white">Please enter your email ID correctly into the Field Below</h6>

                        </div>


                    </div>
                    <div class="col md-12">
                        <div class="card-body" style="background-color: #9142ff" @*style="text-align:left"*@>
                            <form class="form-inline my-2 my-lg-0" asp-controller="DigitalPrescriptions" asp-action="Filter" style="padding-right: 25px;">
                                <div class="col-md-6">

                                    <input name="searchString" type="text" class="form-control" placeholder="Search for your Digital Presc..." aria-label="Recipient's username" aria-describedby="button-addon2">

                                </div>

                                <div class="col-md-6">
                                    <button class="btn btn-success my-2 my-sm-0" type="submit">Find My Prescription<i class="bi bi-eye"></i></button>

                                </div>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

}