@using Neerogilksample.Data.ViewModels;
@model DoctorRegisterVM;

@{

    ViewData["Title"] = "Register with Neerogilk";
    Layout = "_DoctorLoginLayout1";
}

<style>

    #email {
        color: black;
    }

    #pswd {
        color: black;
    }
</style>



<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div>
                <center>

                    <img src="~/logoimages/1.png" style="width:200px;height:125px" />
                </center>
            </div>
            <div class="text-center">
                <img class="card-img-top border-info rounded-circle text-left" style="height:125px;width:125px;" src="~/logindetails/images/icons/doctor-male-icon.png" alt="Card image cap">
                <img class="card-img-top border-info rounded-circle text-right" style="height:125px;width:125px;" src="~/logindetails/images/icons/doctor-female-icon.png" alt="Card image cap">
            </div>
            <form asp-action="Register" class="login100-form ">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                <span class="login100-form-title p-b-34 p-t-27 form-group">
                    Doctor Registration
                </span>


                <div class="row">
                    <div class="col">

                        @*<div class="form-group">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>*@

                        <div class="form-group">
                            <label id="email" asp-for="DoctorFirstName" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="fname" asp-for="DoctorFirstName" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your First Name">
                            </div>
                            <span asp-validation-for="DoctorFirstName" class="text-danger"></span>


                        </div>


                        <div class="form-group">
                            <label id="email" asp-for="DoctorEmailAddress" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="emailad" asp-for="DoctorEmailAddress" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Email">
                            </div>
                            <span asp-validation-for="DoctorEmailAddress" class="text-danger"></span>


                        </div>


                        <div class="form-group">
                            <label id="email" asp-for="DoctorPassword" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="inpswd" asp-for="DoctorPassword" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Password">
                            </div>
                            <span asp-validation-for="DoctorPassword" class="text-danger"></span>


                        </div>

                    </div>

                    <div class="col">

                        <div class="form-group">
                            <label id="email" asp-for="DoctorLastName" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="lname" asp-for="DoctorLastName" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Last Name">
                            </div>
                            <span asp-validation-for="DoctorLastName" class="text-danger"></span>


                        </div>

                        <div class="form-group">
                            <label id="email" asp-for="DoctorConfirmEmail" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="cnemail" asp-for="DoctorConfirmEmail" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Confirm Your Email">
                            </div>
                            <span asp-validation-for="DoctorConfirmEmail" class="text-danger"></span>


                        </div>


                        <div class="form-group">
                            <label id="email" asp-for="DoctorConfirmPassword" class="control-label"></label>
                            <div class="input-group">
                                <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                    <i class="mdi mdi-12px mdi-account"></i>
                                </div>
                                <input id="cnpswd" asp-for="DoctorConfirmPassword" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Confirm Your Password">
                            </div>
                            <span asp-validation-for="DoctorConfirmPassword" class="text-danger"></span>


                        </div>


                    </div>





                </div>




                <div class="form-group">

                    <input class="btn btn-success btn-lg btn-block" type="submit" value="Register" />

                </div>

                <div class="form-group">
                    <a class="btn btn-light btn-lg btn-block" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>


            </form>


        </div>
    </div>
</div>


