@using Neerogilksample.Data.ViewModels;
@model PharmacyLoginVM;

@{

    ViewData["Title"] = "Log in to your account";
    Layout = "_PharmacyLoginLayout";
}

<style>

    #email {
        color: black;
    }

    #pswd {
        color: black;
    }
</style>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div>
                <center>

                    <img src="~/logoimages/1.png" style="width:200px;height:125px" />
                </center>
            </div>

            <div class="text-center">
                <img class="card-img-top border-info rounded-circle" style="height:125px;width:125px;"src="~/logindetails/images/icons/pharmacist-icon.png">
                
            </div>
      

            <form asp-action="Login" class="login100-form ">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <span class="login100-form-title p-b-34 p-t-27 form-group">
                    Log in
                </span>
                <div class="form-group">
                    <label id="email" asp-for="PharamcyEmailAddress" class="control-label"></label>
                    <div class="input-group">
                        <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                            <i class="mdi mdi-18px mdi-account"></i>
                        </div>
                        <input id="logemail" asp-for="PharamcyEmailAddress" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Email">
                    </div>
                    <span asp-validation-for="PharamcyEmailAddress" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label id="pswd" asp-for="PharmacyPassword" class="control-label"></label>
                    <div class="input-group">
                        <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                            <i class="mdi mdi-18px mdi-lock"></i>
                        </div>
                        <input id="logpswd" asp-for="PharmacyPassword" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Password">
                    </div>
                    <span asp-validation-for="PharmacyPassword" class="text-danger"></span>


                </div>
                <div class="form-group">

                    <input class="btn btn-success btn-lg btn-block" type="submit" value="Log in" />

                </div>

                <div class="form-group">
                    <a class="btn btn-light btn-lg btn-block" asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>